# Exclude from `git diff`
/.sqlx -diff
/Cargo.lock -diff

# Exclude from `git grep`
/.sqlx/*.* binary

# Mark it as generated so GitHub collapses it in PR diffs/reviews
.sqlx/** linguist-generated=true
